#logo{
    width: 80px;
    display: inline-block;
}
nav{
    background-color: rgb(190, 156, 221);
    position: fixed;
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    display: inline;
    float: right;
}
li{
    display: inline-block;
    position: relative;
    top: 25px;
    list-style: none;
    margin-right: 60px;
}
#elearning{
    width: 1000px;
}

div{
    background-color: blueviolet;
    margin: 10px auto;
}

.derecha{
    float: right;
}
.izquierda{
    float: left;
}
img{
    height: 50px;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button{
    border-bottom: 5px;
    background-color: blue;
    color: white;
    
}
